body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.content {
    padding: 2rem;
    margin-top: 5rem;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
}

.movie-card {
    background-color: #1c1c1c;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    color: #f0f0f0;
    text-align: center;
    flex-shrink: 0;
}

.movie-details {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #ccc;
    overflow: auto;
    flex-grow: 1;
    max-height: calc(500px - 4rem);
}

.movie-details li {
    margin: 0.5rem 0;
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

