{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MovieHit · Home</title>
    <link rel="stylesheet" href="{% static 'styles/content.css' %}">
</head>
<body>
    <div class="card">
        <div class="image-box">
            <img src="{% static 'media/images/movies/default.png' %}" alt="movie">
            <div class="content">
                <h2>This is the title</h2>
                <p>This is the content</p>
            </div>
        </div>
    </div>
</body>
</html>
